<section class="fdb-block" style="background-image: url(assets/img/alt_wide_1.svg);">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-8 text-left">
        <h1>Benin Junior Jobs</h1>
        <p class="text-h3">Le job board ultime pour les développeurs juniors dans l'industrie tech au Bénin.</p>
        <p class="mt-5">
          <a class="btn btn-black" href="https://github.com/nioperas06/beninjuniorjobs"><i class="fa fa-github"></i> Github</a>
          <a class="btn" href="#">Nouveau Job?</a>
        </p>
      </div>
    </div>
  </div>
</section>
