<section class="fdb-block">
  <a href='https://github.com/nioperas06/beninjuniorjobs'>
    <img alt='Fork me on GitHub' data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png' src='https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67' style='position:absolute;top:0;right:0;border:0;'>
  </a>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <h1>Benin Tech Jobs</h1>
        <p class="text-h3">Le job board ultime dans l'industrie tech au Bénin.</p>

        <div class="row pt-4 pt-xl-5">
          <p class="mt-5">
            <a class="btn btn-black" href="#job-board">Voir les jobs</a>
            <a class="btn" href="https://nioperas06.typeform.com/to/i7t4PM" target="_blank">Nouveau Job?</a>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-6 m-auto mr-lg-0 ml-lg-auto pt-5 pt-lg-0">
        <img alt="image" class="img-fluid" src="https://snap.hr/v2/img/home/hero-illustration.svg">
      </div>
    </div>
  </div>
</section>
