<app-header></app-header>
<section class="content" style="padding-top: 50px">
    <div class="container">
        <div class="row row-sm-middle">
            <div class="col-xs-12 col-sm-7 col-md-6">
                <h2 class="text-xlarge">Travaillez dans l'entreprise qui vous correspond.</h2>
                <p class="text-large text-tint">
                    BeninTechJobs est un projet
                    <a href="https://github.com/nioperas06/benintechjobs" target="_blank"><b>opensource</b></a> qui regroupe en seul endroit toutes les offres d'emploi dédiées à l'univers technologique au Bénin.
                </p>
                <p class="text-large text-tint">
                    Vous pouvez retrouver des offres d'emploi d'entreprises Béninoises ou étrangères recrutant en télé-travail.
                </p>
                <form>
                    <div class="row">
                        <div class="col">
                            <a routerLink="/new-job" class="btn btn-primary text-bold newsletter">Poster un job</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-5 col-lg-offset-1 text-center">
                <img class="img-sm-75 img-md-100 img-fluid" src="https://lukaszadam.com/img/illustration/29.svg" />
            </div>
        </div>
    </div>
</section>

<section class="container" style="padding-top: 100px">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <input type="text" (input)="onSearchChange($event.target.value)" class="form-control" placeholder="Ton prochain job?" style="height: 50px">
        </div>
    </div>
</section>

<section class="container" style="padding-top: 100px">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="bouncing-loader" *ngIf="loading && jobs?.length != 0">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <app-job-details *ngFor="let job of jobs" [job]="job">
            </app-job-details>
        </div>
        <div class="text-center" *ngIf="jobs?.length == 0">
            <img src="https://lukaszadam.com/img/illustration/18.svg" alt="" class="img-fluid" style="width: 200px; height: 150px">
            <h4 style="padding-top: 50px">Aucune offre trouvée!</h4>
        </div>
    </div>
</section>
<app-footer></app-footer>