<div class="card px-sm-5 text-justify">
    <div class="card-block">
        <a href="{{job.url}}" target="_blank" class="text-primary">
            <p class="m-0 h5"><img class="mr-3" src="{{job.logo}}" alt="" width="48" height="48">{{ job.title }}</p>
        </a><br>
        <p> {{ job.description | truncate : 200 }} </p>
    </div>
    <div class="card-block details py-0">
        <p class="d-sm-inline-block">
            <i class="fa fa-building"></i> {{ job.company }} </p>
        <p class="d-sm-inline-block">
            <i class="fa fa-map-marker"></i> {{ job.location }}</p>
        <p class="d-sm-inline-block">
            <i class="fa fa-clock"></i> {{ job.created_at }}</p>
    </div>
</div>